main{
    display: flex;
}
h1{
    margin: auto;
}
#notification{
    background-color: red;
    padding: 10px 15px;
    border-radius: 50px;
    width: fit-content;
    position: fixed;
    margin: 10px 15px;
    top: 5; right: 0; left: 90;
}
img{
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}